AppSource/build
/build
/Build
build
/build/*
build/*
*.swp
bin/
obj/
buildlogs/
buildlogs
.svn/
*.user
*.suo
_ReSharper*
*.resharper
thumbs.db
_sgbak
*.sln.cache
NDependOut
NDepend/
TestResult.xml
Trunk/Resources
*.orig
*.InstallLog
Thumbs.db
.DS_Store
slesser.mode1v3
slesser.pbxuser
